# Files to ignore in merge changes between branchs
.babelrc        merge=ours
.csscomb.json   merge=ours
.editorconfig   merge=ours
.gitignore      merge=ours
.htaccess       merge=ours
.htmlhintrc     merge=ours

* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
