// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './bootstrap-overrides';
@import './museums';
.active a {
  color: green;

  text-decoration: none;
}
.error {
  color: red;

  font-size: 12px;
}
